dj-database-url==0.4.1
Django==1.9.7
django-cors-headers==1.1.0
django-filter==0.13.0
djangorestframework==3.3.3
docopt==0.6.2
Markdown==2.6.6
pipreqs==0.4.3
psycopg2==2.7.6.1
requests==2.10.0
virtualenv==15.0.2
whitenoise==3.2
yarg==0.1.9
